/* //////CHECKBOX INPUT////// */
.checkbox-container {
	display: flex;
	align-items: center;
	margin: 2.5rem 0;
	width: 100%;
}

input[type="checkbox"]:active {
	cursor: pointer;
	border: 0.1rem solid var(--green-600);
}

input[type="checkbox"]:focus ~ span.checkbox-check,
input[type="checkbox"]:active ~ span.checkbox-check {
	cursor: pointer;
	border: 0.2rem solid var(--green-600);
}

label:hover {
	cursor: pointer;
}

/* removes default styles */
input[type="checkbox"] {
	position: absolute;
	cursor: pointer;
	height: 20px;
	width: 20px;
	opacity: 0;
}

span.checkbox-check {
	display: flex;
	margin-right: 2rem;
	height: 15px;
	width: 15px;
	border: solid 2px var(--grey-500);
	border-radius: 2px;
	visibility: visible;
}

.checkbox-check img {
	visibility: hidden;
}

input[type="checkbox"]:checked ~ span.checkbox-check img {
	visibility: visible;
}

.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
	width: 100%;
}

/* for checkbox error message  */
input[type="checkbox"]:user-invalid ~ .error-message {
	visibility: visible;
}
