label {
	margin-bottom: .5rem;
}

input:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover,
input:active,
input[type="radio"]:active,
input[type="checkbox"]:active {
	cursor: pointer;
	border: 0.1rem solid var(--green-600);
}

span.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
}

input:user-invalid ~ span {
	visibility: visible;
}

input:user-invalid {
	border: 1px solid red;
}

.input {
	display: flex;
	flex-direction: column;
}
