input {
	height: 30px;
	margin: 5px 0px;
	padding: 10px;
	background-color: var(--white);
	border: solid black 1px;
	border-radius: 5px;
	color: black;
}

textarea {
	background-color: var(--white);
	border: solid black 1px;
	border-radius: 5px;
	color: black;
	padding: 10px;
	margin: 10px 0px;
}

.textarea-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover,
textarea:hover,
input:active,
input[type="radio"]:active,
input[type="checkbox"]:active,
textarea:active {
	cursor: pointer;
	border: 0.1rem solid var(--green-600);
}

span.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
}

input:user-invalid ~ span {
	visibility: visible;
}

input:user-invalid {
	border: 1px solid red;
}

.input {
	display: flex;
	flex-direction: column;
}

textarea:user-invalid ~ span.error-message {
	visibility: visible;
}

textarea:user-invalid {
	border: 1px solid red;
}
