:root {
	--grey-900: #2a4144;
	--grey-500: #86a2a5;
	--white: #ffffff;
	--green-600: #0c7d69;
	--green-200: #e0f1e8;
	--red-errors: #d73c3c;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	color: var(--grey-900);
	font-size: 2rem;
	width: 100%;
}
form {
	width: 55vw;
	background-color: var(--white);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-questions-container {
	display: flex;
	flex-direction: column;
}

.question-container {
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;
	margin: 5px 0px;
	padding: 10px;
	background-color: var(--white);
	border: solid black 1px;
	border-radius: 5px;
	color: black;
}

input[type="radio"] {
	height: 10px;
}

fieldset.radio-question-container {
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.radio-question-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label.radio-question {
	width: 50%;
}

.radio-question-container input {
	color: green;
}

textarea {
	background-color: var(--white);
	color: black;
}

input[type="checkbox"] {
	height: 10px;
	margin-right: 10px;
	background-color: var(--white);
}

.question-container img {
	height: 10px;
	margin-right: 10px;
}

.question-container.checkbox {
	display: inline;
}

span.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
}

input:user-invalid ~ span {
	visibility: visible;
}

input:user-invalid {
	border: 1px solid red;
}

textarea:user-invalid ~ span {
	visibility: visible;
}

textarea:user-invalid {
	border: 1px solid red;
}

.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
	width: 100%;
}

/* for checkbox error message  */
input:user-invalid ~ div.error-message {
	visibility: visible;
}

/* for radio error message  */
fieldset:has(:user-invalid) ~ .error-message {
	visibility: visible;
}
