textarea:hover,
textarea:active {
	cursor: pointer;
	border: 0.1rem solid var(--green-600);
}

textarea {
	background-color: var(--white);
	border: 1px solid var(--grey-500);
	border-radius: 5px;
	color: var(--green-900);
	padding: 10px;
	resize: vertical;
}

.textarea-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

span.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
}

textarea:user-invalid ~ span.error-message {
	visibility: visible;
}

textarea:user-invalid {
	border: 1px solid red;
}
