/* Remove default radio styles */
input[type="radio"] {
	position: absolute;
	cursor: pointer;
	height: 30px;
	width: 30px;
	opacity: 0;
}

input[type="radio"]:focus ~ span.radio-button {
	outline: 0.2rem solid var(--green-600);
}

span.radio-button {
	height: 30px;
	width: 30px;
	border: solid 1px var(--grey-500);
	background-color: var(--white);
	border-radius: 50%;
	margin-right: 20px;
}

.radio-input-container:has(input[type="radio"]:checked) {
	background-color: var(--green-200);
}

/* Show checked state */
input[type="radio"]:checked ~ span.radio-button img {
	height: 30px;
	width: 30px;
	visibility: visible;
}

/* Hide unselected radio button images */
.radio-button img {
	visibility: hidden;
}

/* Improve hover effect */
.radio-input-container:hover {
	cursor: pointer;
	border: 0.1rem solid var(--green-600);
}

.radio-input-container {
	border: 1px solid var(--grey-500);
	height: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 50%;
	margin-block: 1rem;
	border-radius: 10px;
	padding:  0.75rem 1.5rem;
}

.radio-input-container label {
	font-size: 18px;
	margin: 0;
}

/* for radio error message  */
/* ///TODO FIX */
/* ///ERROR this is also affecting the checkbox component TODO  */
fieldset:has(:user-invalid) ~ .error-message {
	visibility: visible;
}

span.error-message {
	font-size: 12px;
	color: red;
	visibility: hidden; /* starts hidden unless active error */
}

input[type="checkbox"]:user-invalid ~ span {
	visibility: visible;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	gap:  1rem;
	display: flex;
	justify-content: space-between;
}
