:root {
	--grey-900: #2a4144;
	--grey-500: #86a2a5;
	--white: #ffffff;
	--green-600: #0c7d69;
	--green-200: #e0f1e8;
	--red-errors: #d73c3c;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	color: var(--grey-900);
	font-size: 2rem;
	width: 100%;
}
form {
	width: 55vw;
	background-color: var(--white);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row {
	display: flex;
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media (min-width: 450px) and (max-width: 780px) {
}

@media (min-width: 450px) and (max-width: 820px) {
	* {
		color: blue;
	}
	form {
		width: 85%;
	}
	.radio-input-container {
		width: 42%;
	}
	.radio-input-container label {
		margin-left: 1.2rem;
	}
}

@media (max-width: 449px) {
	* {
		color: red;
	}
	form {
		width: 92%;
		padding: 20px;
	}
	.input {
		width: 100%;
	}
	.radio-input-container {
		width: 100%;
	}
}
