:root {
	--grey-900: #2a4144;
	--grey-500: #86a2a5;
	--white: #ffffff;
	--green-600: #0c7d69;
	--green-200: #e0f1e8;
	--red-errors: #d73c3c;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	color: var(--grey-900);
	font-size: 2rem;
}
form {
	width: 55vw;
	background-color: var(--white);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.row {
	display: flex;
}
