:root {
	font-family: Karla, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--grey-900);
	background-color: var(--green-200);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--grey-900: #2a4144;
	--grey-500: #86a2a5;
	--white: #ffffff;
	--green-600: #0c7d69;
	--green-200: #e0f1e8;
	--red-errors: #d73c3c;
	
}

*:focus {
	outline: 0.1rem solid var(--green-600);
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}


@media (prefers-color-scheme: light) {
	h1 {
		line-height: 1.1;
	}
	:root {
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
